---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Let me</span>
    <span class="gpt-subtitle">ChatGPT</span>
    <span class="gpt-title">this for you</span>
  </div>
  <p mt-1 op-60>We get it. You are too lazy to try yourself</p>
</header>
